{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="input-group col-md-12">
                            <div class="input-group-prepend">
                                <select id="searchType" class="form-control">
                                    <option value="order">Order ID</option>
                                    <option value="customer">Customer ID</option>
                                </select>
                            </div>
                            <!-- /btn-group -->
                            <input id="keywordInput" type="text" class="form-control">&nbsp;&nbsp;
                            <button id="searchBtn" class="btn btn-primary">Search</button>&nbsp;&nbsp;
                            <button class="btn btn-success" style="right: 0">Add</button>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="table_customer" class="table table-bordered table-striped ">
                        <thead>
                        <td>#</td>
                        {% for attr in attributes %}
                            <td>{{ attr[0] }}</td>
                        {% endfor %}
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

{% endblock %}
{% block jslibs %}
    <script src="/static/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/static/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
{% endblock %}
{% block scripts %}
<script>
$(function () {

    $('#table_customer').DataTable({
        "searching": false,
        "paging": true,
        "lengthChange": true,
        "lengthMenu": [5, 10, 20],
        "ordering": true,
        "info": true,
        "autoWidth": true,
    });

    $('#searchBtn').click(() => {
        $.ajax({
            url: '/simple/order/search',
            method: 'POST',
            data: {
                'keyword': $('#keywordInput').val(),
                'type': searchType = $('#searchType').val()
            },
            success: (data) => {
                table = $('#table_customer').DataTable()
                table.clear()
                for (i=0; i<data.length; i++) {
                    table.row.add([
                        i+1,
                        data[i].oID,
                        data[i].cID,
                        data[i].sts,
                        data[i].pTime,
                        data[i].aTime,
                        data[i].dTime,
                        data[i].rTime,
                        data[i].eTime
                    ])
                }
                table.draw()
            }
        })
    })

});
</script>


{% endblock %}
{% block csslibs %}
    <link rel="stylesheet" href="/static/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
{% endblock %}